
@media screen and (max-width: 39.9375em) {
    .orbit-caption{
        width: 95%;
        font-size: 1.2em;
        line-height: 1em;


    }
        .orbit-caption a{

        }
}


.fb-page{
    margin-right: 1em;

}
.block{
    padding: .5em;
}

.label.success{
    background-color:#66cc33;
    color:white;
    cursor: pointer;
    cursor: hand;
}

.paddingTop2{
    padding-top: 2rem;
}

.section{
    background-image: url("../imgs/layout/bg-section.png");
    background-position: center left;
    background-repeat: repeat-x;
    margin: 1em 0;
    text-align: center;
}
    .section span{
        background-color: white;

        padding: 1em;
        text-transform: uppercase;
        font-weight: 800;

    }
h1{
    margin-bottom: .5em;
}

h1{
    line-height: 3.5rem;
}
    h1 img{
        position: relative;
        top:-7px;
    }
.regionContact h6{
    text-transform: uppercase;
    font-weight: 600;
}

#inflictionsPage .tabs-title{
    max-width: 20%;

}

#inflictionsPage .map{
    max-height: 400px;
}

#inflictionsPage .tabs-title>a{

    min-height: 200px;
}
#inflictionsPage .accordion2 .tabs-title>a{
    min-height: 100px;
}
#inflictionsPage .inflictionTheatres img, .inflictionIconsProgram img{
    width: 2rem;
    height: 2rem;
}

#inflictionsPage .tabs-title img, #inflictionsPage .accordion-item img, .inflictionIconsFilmsAZVideo img {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
}

.tabs{
    border: 0;
}

.tabs-panel{
    padding-top: 2em;
    background-color: #f2f2f2;
}

.off-canvas{
    padding: 2rem;

}

#etrButton {
    width: .8em;
    height: .8em;
    cursor: pointer;
    cursor: hand;
}
.inflictionVideoButton {
    text-transform: uppercase;
}
.inflictionVideoButton i {
    margin-bottom: .5em;
    display: block;
    font-size: 3em;
}
#inflictionVideo{
    display: none;
}

#ETR, #fullNoETRtext{
    display: none;
}

#registrationForm{
    margin-top: 0;
}
.card img{

}
.card h5, .card p{
    margin: .5rem;
}

.listing h5{
    margin-top: .5em;
}

.filmsVRlisting h3{
    line-height: 1em;
}

.credits{
    font-size: .9rem;
    line-height: 1.3rem;
    color:#828282;
}
h2 small, h3 small{
    font-size: .5em;
    color: #828282;
}
.filter{
    margin-right: .5rem;
    margin-bottom: .5rem;
}

/* screenings ----------------------------------------------------------------------------- */

table, table tbody{
    border-collapse: collapse;
    border: 0 !important;
}
table tr{
    vertical-align: top;
    border-bottom: 1px solid #f2f2f2;
}

    table tr.active, .filmDetailContent, table tbody tr:nth-child(2n){
        border-bottom: 0;
        background-color: #ccc;
    }

.blockTable, .blockTable td{
    padding: 0;

}
.blockTable tr{
    border-bottom: 0px;
}

.filmDetailContent, table tbody tr:nth-child(2n){
    /*background-color: white;*/
    border-bottom: 1px solid #f2f2f2;
}

.filmDetailScreenings td{
    background-color: #f2f2f2;
    border-bottom: 1px solid white;
}

table.centrumScreening{
    margin-bottom: 0;
}
    table.centrumScreening p{
        margin-bottom: 0;
    }


table tbody td{
    padding: .5em;
    margin: 0;

}

.tabs-content h3{
    margin-top: 2rem;
}

.accordionScreenings .tabs-title a, .accordionScreeningsTheatres .tabs-title a{
    font-size: 1.2rem;
}
.has-tip{
    border: 0;
}
.label{
    background-color: #fc0;
    color:black;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 500;
    padding: .4rem .5rem;
}

/* regions ----------------------------------------------------------------------------- */

.regionHome{
    font-size: 1.7rem;
}

.regionLogoWrapper{
    text-align: center;
    margin-bottom: 2rem;
}

.flex-video video{
    height: auto;
}
.regionFilter, .filterEventRegion{
    margin-right: .5em;
}
.regionSocial{
    margin-left: .7em;
}

/* home ----------------------------------------------------------------------------- */

.mobile{
    margin-left: 1em;
    border:2px dashed #09f;
}

.mobile h5{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.mobile span{
    background-color: #f2f2f2;
    font-weight: normal;
}
.mobile img{

}
    .mobile img.qr{
        margin-bottom: 1em;

    }

.cards h3{
    line-height: 2.3rem;
}