
@media screen and (max-width: 39.9375em) {
    .orbit-caption{
        width: 95%;
        font-size: 1.2em;
        line-height: 1em;


    }
        .orbit-caption a{

        }
     address{
         margin-bottom: 1em;
     }
}

address{
    text-align: left;
    font-style: normal;
    padding-left: 1em;
}

.fb-page{
    margin-right: 1em;

}
.block{
    border: 2px solid  #ccc;
    background-color: white;
    padding-bottom: 0;
}

.label.success{
    background-color:#66cc33;
    color:white;
    cursor: pointer;
    cursor: hand;
}
.label.alert{
    background-color: #ff0036;
    color:white;
}
.label.secondary{
    color:white;
}

.paddingTop2{
    padding-top: 2rem;
}
.marginTop0{
    margin-top: 0;
}

.section{
    background-image: url("../imgs/layout/bg-section.png");
    background-position: center left;
    background-repeat: repeat-x;
    margin: 1em 0;
    text-align: center;
}
    .section span{
        background-color: white;

        padding: 1em;
        text-transform: uppercase;
        font-weight: 800;

    }
.callout h4{
    margin-top: 0;
    padding-top: 0;
}
h1{
    margin-bottom: .5em;
    line-height: 3.5rem;
}


    h1 img{
        position: relative;
        top:-7px;
    }
.regionContact h6{
    text-transform: uppercase;
    font-weight: 600;
}

#inflictionsPage .tabs-title{
    max-width: 20%;

}

#inflictionsPage .map{
    max-height: 400px;
}

#inflictionsPage .tabs-title>a{

    min-height: 200px;
}
#inflictionsPage .accordion2 .tabs-title>a{
    min-height: 100px
}
#inflictionsPage .inflictionTheatres .icons img, .inflictionIconsProgram img{
    width: 2rem;
    height: 2rem;
}

#inflictionsPage .tabs-title img, #inflictionsPage .accordion-item img, .inflictionIconsFilmsAZVideo img {
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
}
.accessMap{
    height: auto !important; width: auto !important;
    max-width: 500px;
    max-height: 500px;
}


.tabs{
    border: 0;
}

.tabs-panel{
    padding-top: 2em;
    background-color: #f2f2f2;
}

.off-canvas{
    padding: 2rem;

}

#etrButton {
    width: .8em;
    height: .8em;
    cursor: pointer;
    cursor: hand;
}
.inflictionVideoButton {
    text-transform: uppercase;
}
.inflictionVideoButton i {
    margin-bottom: .5em;
    display: block;
    font-size: 3em;
}
#inflictionVideo, #ETR, #fullNoETRtext, .nD{
    display: none;
}

.inflictionIconDebate{
    float:right;
    height: 2rem;
    width: 2rem;
}


#registrationForm{
    margin-top: 0;
}
.card img{

}
.card h5, .card p{
    margin: .5rem;
}

.listing h5{
    margin-top: .5em;
}
.listing h3{
    margin-top: .5em;
}

.filmsVRlisting h3{
    line-height: 1em;
}

.credits{
    font-size: .9rem;
    line-height: 1.3rem;
    color:#828282;
}
h2 small, h3 small{
    font-size: .5em;
    color: #828282;
}
.filter{
    margin-right: .5rem;
    margin-bottom: .5rem;
}

/* screenings ----------------------------------------------------------------------------- */

table, table tbody{
    border-collapse: collapse;
    border: 0 !important;
}
table tr{
    vertical-align: top;
    border-bottom: 1px solid #f2f2f2;
}

    table tr.active, .filmDetailContent, table tbody tr:nth-child(2n){
        border-bottom: 0;
        background-color: #ccc;
    }

.blockTable, .blockTable td{
    padding: 0;

}
.blockTable tr{
    border-bottom: 0px;
}

.filmDetailContent, table tbody tr:nth-child(2n){
    /*background-color: white;*/
    border-bottom: 1px solid #f2f2f2;

}
.accordion-item table tbody tr:nth-child(2n){
    display: none;
}


.filmDetailScreenings tr{
    border-bottom: 1px solid white !important;
}
.filmDetailScreenings td{
    background-color: #f2f2f2;
}

table.centrumScreening{
    margin-bottom: 0;
}
    table.centrumScreening p{
        margin-bottom: 0;
    }


table tbody td{
    padding: .5em;
    margin: 0;

}

.tabs-content h3{
    margin-top: 2rem;
}

.accordionScreenings .tabs-title a, .accordionScreeningsTheatres .tabs-title a{
    font-size: 1.2rem;
}
.has-tip{
    border: 0;
}
span.has-tip.label{
    background-color: #09f;
    color:white;
}

.label{
    background-color: #fc0;
    color:black;
    text-transform: uppercase;
    font-size: .7rem;
    font-weight: 500;
    padding: .4rem .5rem;
}

/* regions ----------------------------------------------------------------------------- */

.regionHome{
    font-size: 1.7rem;
}

.regionLogoWrapper{
    text-align: center;
    margin-bottom: 2rem;
}

.flex-video video{
    height: auto;
}
.regionFilter, .filterEventRegion{
    margin-right: .5em;
}
.regionSocial{
    margin-left: .7em;
}

/* home ----------------------------------------------------------------------------- */

.aktualne{

}
    .aktualne .label{
        color:white;
        margin-bottom: 0;
        margin-top: 1em;
    }
    .aktualne h4{
        margin-top: 0.5em;
    }
    .aktualne .orbit-next, .aktualne .orbit-previous{
        top: 12.3%;
    }

.tips{
    padding-left: 1em !important;
}
    .tips h4{
        margin-top: 1.5em;
    }
    .tips img{
        margin-bottom: 1em;
    }
    .tips .orbit-next, .tips .orbit-previous{
        top: 9%;
    }

.mobile{
    margin-left: 1em;
    border:2px dashed #09f;
}

.mobile h5{
    font-size: 1rem;
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.mobile span{
    background-color: #f2f2f2;
    font-weight: normal;
}
.mobile img{

}
    .mobile img.qr{
        margin-bottom: 1em;

    }

.cards h3{
    line-height: 2.3rem;
}

/* gallery ----------------------------------------------------------------------------- */

.Collage .Image_Wrapper img{
    border: 1px solid transparent;
    margin-right: 1px solid transparent;
}

.Image_Wrapper a{
    opacity: 0;
}

.lg-outer .lg-thumb-item{
    border-radius: 0 !important;
    border-width: 1px !important;
}

/* vote form ----------------------------------------------------------------------------- */


#vote .inlineBlock{
    display: inline-block;
}
#vote fieldset{
    margin-top: 1rem;
}
#vote legend{
    font-weight: bold;
}

#voteForm{
    padding: 1em;
    margin-left: 1em;
    margin-bottom: 1em;
    background-color: #fc0;
    color:#09f;
}
#voteForm .fi-clipboard-pencil{
    font-size: 2.5em;
}
#voteForm h5{
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 0;
}

/* brussel ----------------------------------------------------------------------------- */

    #brusselForm tr {
        border: 0;
    }
    #brusselForm tr:nth-child(2n){
        background-color: transparent !important;
    }
    #brusselForm tbody{
        background-color: transparent;
    }
    #brusselForm td{
        background-color: transparent;
    }


/* region social icons ----------------------------------------------------------------------------- */


/*Pen code from this point on*/
.btn {
    clear:both;
    white-space:nowrap;
    font-size:12px;
    display:inline-block;
    border-radius:5px;

    margin:2px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    overflow:hidden
}

.btn:hover {

}

.btn:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btn > span,.btn-icon > i {
    float:left;
    padding:14px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    line-height:1em
}

.btn > span {
    line-height: 16px;
    white-space:nowrap;
    color:#FFF;
    background:#b8b8b8;
    text-transform: uppercase;
}

.btn:focus > span {
    background:#9a9a9a
}

.btn-icon > i {
    border-radius:5px 0 0 5px;
    position:relative;

    text-align:center;
    font-size:1.35em;
    color:#fff;
    background:#212121
}

.btn-icon > i:after {
    content:"";
    border:8px solid;
    border-color:transparent transparent transparent #222;
    position:absolute;
    top:13px;
    right:-14px
}

.btn-icon:hover > i,.btn-icon:focus > i {
    color:#FFF
}

.btn-icon > span {
    border-radius:0 5px 5px 0
}

/*Facebook*/
.btn-facebook:hover > i,.btn-facebook:focus > i {
    color:#3b5998
}

.btn-facebook > span {
    background:#3b5998
}

/*Twitter*/
.btn-twitter:hover > i,.btn-twitter:focus > i {
    color:#55acee
}

.btn-twitter > span {
    background:#55acee
}

/*Instagram*/
.btn-instagram:hover > i,.btn-instagram:focus > i {
    color:#c13584
}

.btn-instagram > span {
    background:#c13584
}

