@font-face {
  font-family: "Segment7Standard";
  font-weight: normal;
  src: url("https://fontlibrary.org/assets/fonts/segment7/4cc82137fc130708919bf201c0dc9aae/e5ff00da0a1f8a2cfd6fab51a4b89c16/Segment7Standard.otf") format("opentype");
}

.timer {
    font-family: "Segment7Standard";
    font-size: 20px;
    display: inline-block;
    vertical-align: top;
}

.clock {
	color:white;
}

.clock .collumn {
    display: inline-block;
	text-align:center;
}


.days {
    display: none;
}
	.text{
		font-size:.8em;
	}

@media only screen and (max-width: 768px) {

    .timer {
        font-size: 40px;
    }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear-loading {
    text-align: center;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.spinner {
    width: 100px;
    height: 100px;
}

.spinner > span,
.spinner > span:before,
.spinner > span:after {
    content: "";
    display: block;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.spinner > span {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-left-color: transparent;
    -webkit-animation: effect-2 2s infinite linear;
    -moz-animation: effect-2 2s infinite linear;
    -o-animation: effect-2 2s infinite linear;
    animation: effect-2 2s infinite linear;
}

.spinner > span:before {
    width: 75%;
    height: 75%;
    border-right-color: transparent;
}

.spinner > span:after {
    width: 50%;
    height: 50%;
    border-bottom-color: transparent;
}

@-webkit-keyframes effect-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes effect-2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
